<!-- logo-->
<div class = "row" >
    <div class ="col d-flex justify-content-center">
        <img class = "mt-4" src ="http://via.placeholder.com/640x360">
    </div>
</div>
<!-- mission statement-->
<div class = "row">
    <div class = "col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolor hic quia doloremque praesentium, nostrum alias delectus enim sunt repellendus illum quaerat officia possimus esse! Perferendis eaque autem adipisci placeat.
        Officiis quis harum alias eum pariatur tenetur possimus id deserunt consequatur provident sit molestiae repudiandae autem et necessitatibus, tempora fugiat libero quibusdam accusantium itaque dolores numquam quas? Voluptatum, veritatis quia?
        Placeat, optio voluptatem beatae impedit modi rem odio pariatur quod aut asperiores! Reiciendis, dolorum maiores debitis molestiae tenetur reprehenderit? Eius labore cupiditate debitis harum odit consectetur blanditiis vel id excepturi.</p>
    </div>
</div>
<!-- Deck of cards of games-->
<div class="row">
    <div class = "col">
        <div class="card">
            <img src ="http://via.placeholder.com/640x360" class="card-img-top" alt="placeholder">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class = "col">
        <div class="card">
            <img src ="http://via.placeholder.com/640x360" class="card-img-top" alt="placeholder">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class = "col">
        <div class="card">
            <img src ="http://via.placeholder.com/640x360" class="card-img-top" alt="placeholder">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
