<!-- logo-->
<!-- mission statement-->
<div class = "row" >
    <div class ="col d-flex justify-content-center">
        <img class = "mt-4" src ="http://via.placeholder.com/640x360">
    </div>
</div>
<div class = "row">
    <div class = "col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolor hic quia doloremque praesentium, nostrum alias delectus enim sunt repellendus illum quaerat officia possimus esse! Perferendis eaque autem adipisci placeat.
        Officiis quis harum alias eum pariatur tenetur possimus id deserunt consequatur provident sit molestiae repudiandae autem et necessitatibus, tempora fugiat libero quibusdam accusantium itaque dolores numquam quas? Voluptatum, veritatis quia?
        Placeat, optio voluptatem beatae impedit modi rem odio pariatur quod aut asperiores! Reiciendis, dolorum maiores debitis molestiae tenetur reprehenderit? Eius labore cupiditate debitis harum odit consectetur blanditiis vel id excepturi.</p>
    </div>
</div>
<app-card-list [cardList]=" games"></app-card-list>

<pre>{{ games | async | json }}</pre>

<!-- <ul>
    <li *ngFor="let item of games | async"> {{ item.title}}</li>
</ul> -->

<!-- Deck of cards of games-->